svg {
  font-family: sans-serif;
  font-size: 14px;
}

/**************
 * Axes style *
 **************/

.princ--tick-labels {
  font-size: 0.75em;
}

.princ--tick-line, .princ--tick {
  stroke: #838383;
}

.princ--tick-line {
  stroke-linecap: square;
}

.princ--tick-label, .princ--axis-label {
  fill: #838383;
}

.princ--yaxis {
  transform: translateX(-5px);
}

.princ--yaxis .princ--tick-labels {
  transform: translateX(-2px);
  dominant-baseline: central;
  text-anchor: end;
}

.princ--yaxis .princ--tick {
  transform: scaleX(2);
}

.princ--yaxis .princ--axis-label {
  transform: translateY(-3px);
}

.princ--xaxis {
  transform: translateY(5px);
}

.princ--xaxis .princ--axis-label {
  text-anchor: middle;
  dominant-baseline: hanging;
  transform: translateY(14px);
}

.princ--xaxis .princ--tick {
  transform: scaleY(2);
}

.princ--xaxis .princ--tick-labels {
  text-anchor: middle;
  dominant-baseline: hanging;
  transform: translateY(2px);
}

/*******************
 * Zero Comparison *
 *******************/

.princ--comparisonz .princ--axis {
  display: none;
}

.princ--value {
  font-size: 0.7em;
}

.princ--name {
  dominant-baseline: central;
  font-size: 0.7em;
  transform: translateX(-50px);
}

.princ--num {
  dominant-baseline: central;
  text-anchor: end;
  font-size: 0.7em;
  transform: translateX(20px);
  fill: #838383;
}

/*************
 * Evolution *
 *************/

.princ--span {
  stroke: none;
  fill: black;
  fill-opacity: 0.2;
}

.princ--line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.princ--point {
  fill: black;
  stroke: white;
  stroke-width: 0.4;
  transform: scale(2.5);
}

.princ--span-item .princ--point {
  display: none;
}

.princ--labels {
  transform: translateX(3px);
  dominant-baseline: central;
}

/* Line styles */
.princ--dash .princ--line {
  stroke-dasharray: 5, 9;
}

.princ--dot .princ--line {
  stroke-dasharray: 0, 4;
}

.princ--dash-dot .princ--line {
  stroke-dasharray: 5, 9, 0, 9;
}
